*{padding:0;margin:0;}
html{border-top:10px #1abf89 solid;}
body{width:800px;margin:0 auto;padding:5% 20px 20px;font-family:Palatino, Optima, Georgia, serif;}
@media all and (max-width:1024px){ body, pre a{width:60%;} }
small{color:#999;}
#toolbar{margin-bottom:1em;position:fixed;left:20px;margin-top:5px;}
#toolbar [class^="icon-"]:before, #toolbar [class*=" icon-"]:before{font-family:'pen'}
#mode{color:#1abf89;;cursor:pointer;}
#mode.disabled{color:#666;}
#mode:before{content: '\e813';}
#hinted{color:#1abf89;cursor:pointer;}
#hinted.disabled{color:#666;}
#hinted:before{content: '\e816';}
#textdirection{color:#1abf89;cursor:pointer;}
#textdirection.disabled{color:#666;}
#textdirection:before{content: 'ع';}
#printme{color:#666;cursor:pointer;}
#printme:before{content: 'P';}

/*
When the webpage is printed
this media query hides extra elements,
and makes the text content fit the page.
*/
@media print {
    #toolbar {
        display: none;
    }
    body {
        width: 94%;
        padding-top: 1em;
        font-size: 12px;
    }
    html {
        border-top: 0;
    }
}
button {
    -webkit-app-region: no-drag;
}


/* Buttons*/
.custom-file-input {
    color: transparent;
    display: inline-block;
    width: 20px;
    height: 10px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    color: black;
    display: inline-block;
    background: transparent;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: #666;
    font-family: "pen";


}
.custom-file-input:hover::before {
    border: 0px;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: transparent;
}
.downhtml::before{
    content: "H";
}
.downmd::before{
    content: "M";
}
.downpdf::before{
    content: "P";
}
.uploadpdf::before{
    content: "U";
}
.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
